$gray-date: #5f6368;
$blue: #4285f4;
$none:none;
$center:center;
$padding-left:50vh;
$blue-border: 4px solid #4285f4;
$font-title: 'Roboto', sans-serif;
$font-date:'Roboto Mono', monospace;
$font-weight-title: 500;
$font-size-title: 1.5rem;
$line-height-title: 32px;
$gray-titles : #424242;
$font-paragraph:'Product Sans', Arial, sans-serif;
$font-size-paragraph:1rem;
$gray-text: #414549;
