@import "variables";
@import "mixin";
/*para la grid*/
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
a{
  text-decoration: $none;

}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}
.row{
  &:before{
    content:" ";
    display: table;
  }
  &:after{
    @extend .row:before;
    clear: both;
  }
}
[class*="col-"]{
  min-height: 7px;
  padding:12px;
  float:left;
}
@function widthColumns($columns){
  @return percentage(($columns/12));
}
@for $numColumn from 1 through 12{
  .col-#{$numColumn}{
    width:widthColumns($numColumn)
  }
@for $numColumn from 1 through 12{
  .col-#{$numColumn}-offset{
    margin-left:widthColumns($numColumn)
  }
}
}

/*comienzan los estilos*/
/*Estilos generales*/
.border{
  border-top: $blue-border;
}
.titles{
  font-family: $font-title;
}
.etiquetas{
  @include date;
}
.paragraph{
  @include paragraph;
}
.asana{
   width: 200px;
   height: 200px;
   border-radius: 50%;
   display: inline-block;
   margin-right: 8px;
}
/*header*/
header{
  font-family: $font-title;
  text-align: $center;
  margin: 9vh;
  & .logo{
    width:20%;
  }
  & .search{
    float:right;
  }
  & .menu{
    list-style: $none;
  }
  & nav li{
    display: inline;
    padding-right: 5%;
    font-size: 2vh;
  }
  & a{
    text-decoration: $none;

  }
}
/*sectionOne*/
#sectionOne{
  h1{
    @include title;
  }
  h3{
    @extend h1;
  }
}
/*news*/
#news{
  h2{
    @include title;
  }
}

#galleryOne{
  div h3{
    @include title;
  }

}
footer{
  h4{
    @include title;
  }
  p{
    @include paragraph;
  }
}
